extends ../../shared-template/default.jade

block title
    title Edit User

block script
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.7/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.7/components/dropdown.min.js')
    script(src= prefix + '/recipe/manage-users/static/dropdown.js')

block body
    .ui.container
        if saved
            .ui.top.attached.positive.message
                i.user.icon
                | User saved
        form.ui.large.form(action=url, method='POST')
            .ui.stacked.attached.segment
                .field
                    label name
                    input(type='text', name='name', placeholder='john smith', value=user.name, required)
                .field
                    label role
                    select.ui.dropdown(name='role', required)
                        option(selected=user.role==='student') student
                        option(selected=user.role==='instructor') instructor
                        option(selected=user.role==='admin') admin
                .field
                    label modules
                    textarea(name='modules', placeholder='{}')= JSON.stringify(user.modules, null, 4)
                input.ui.large.primary.submit.button(type='submit', value='submit')
                a.ui.large.red.submit.button(href = prefix + '/recipe/manage-users/list') cancel
